.carReservation {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 15px;
  max-width: 756px; 

  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h2 {
  font-size: 28px;
  color: #007BFF;
  margin-bottom: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column label {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.column input, .column .react-datepicker-wrapper input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: border 0.3s ease;
}

.column input:focus, .column .react-datepicker-wrapper input:focus {
  border-color: #007BFF;
}

.findSeatButton {
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.findSeatButton:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}

@media (max-width: 768px) {
  .row {
      flex-direction: column;
      gap: 15px;
  }
}
