
.home {
    text-align: center;
    background-color: #e53935;
    color: white;
    padding: 2rem 0;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .subtitle {
    margin-bottom: 2rem;
  }
  
  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
  }
  
  .input {
    border: none;
    padding: 1rem;
    margin: 0 0.5rem;
    flex: 1;
  }
  
  .icon {
    margin: 0 0.5rem;
  }
  
  .searchButton {
    background-color: #b71c1c;
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  