
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; /* Center-aligns the text */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #f9f9f9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  
  .errorMessage {
    color: rgb(250, 3, 3);
    margin-bottom: 15px;
  }
  
  .signupPrompt {
    margin-top: 20px;
  }
  
  .link {
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  