
.footer {
    background: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
  }
  
  .footerContent {
    /* max-width: 800px; */
    margin: 0 auto;
  }
  
  .footerLinks {
    list-style: none;
    padding: 0;
  }
  
  .footerLinks li {
    display: inline;
    margin: 0 1rem;
  }
  
  .footerLinks a {
    color: #fff;
    text-decoration: none;
  }
  
  .socialMedia a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  